.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border: 1px solid #004c4c;

}

table {
  border-collapse: collapse;
  border: 3px solid #008080;
  background-color:#66B2B2;

}

td{
  padding: 0;

}

.buttonContainer{
  margin-top: 20px;

}

.solveButton{
  background-color: #97DECE;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  margin: 0px 20px;
}

.checkButton{
  background-color: #A0E9FF;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.resetButton{
  background-color: #D0BFFF;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.bBorder{
  border-bottom: 2px solid #004c4c;
}

.rBorder{
  border-right: 2px solid #004c4c;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
